@model IEnumerable<Eventos.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patrocinador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Descritivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patrocinador.Nome_Empresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
