@model IEnumerable<VasosInteligentes.Models.Vaso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                    @item.PlantaRelacionada?.FirstOrDefault()?.Nome
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            
        </tr>
}
    </tbody>
</table>
