@model IEnumerable<ex1_clinica.Models.Clinica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alarme)
            </th>
            <th>Ań§es</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alarme)
                </td>
                <td>
                    @if (item.Alarme == true)
                    {
                        <a asp-action="TurnAlarme" asp-route-id="@item.Id">Desligar Alarme</a>
                    }
                    else
                    {
                        <a asp-action="TurnAlarme" asp-route-id="@item.Id">Ligar Alarme</a>
                    }
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                    @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
